<h2>TYPE IN YOUR URL:</h2>
<form method="post">
  <input class="url-import" type="text" name="url" value="{{url}}">
  <input type="submit" value="Load">
</form>
{{#url}}
<form class="wr-actions">
    <button data-set-action="remove" class="wr-buttons" data-description="Remove any elements from web page, that are being used as Arena Wrapper.">1. Remove</button>
    <button data-set-action="choose" class="wr-buttons" data-description="Choose a container, where to render Arena.">2. Choose</button>
    <button data-set-action="reload" class="wr-buttons" data-description="Reset all changes, and start again.">3. Refresh</button>
    <button data-set-action="download" class="wr-buttons" data-description="Download a resulting Wrapper HTML file.">4. Download</button>
</form>
<iframe id="viewport" src="/create/{{../url}}"></iframe>
{{/url}}
<script src="/javascripts/create.js"></script>
