
<h1>Welcome to {{title}}</h1>
<p>This tool will help you to create or validate wrapper for Arena product. Please, choose your variant to begin</p>
<a class="wr-buttons validate" href="/validate">Validate?</a>
<a class="wr-buttons create" href="/create">Create?</a>
