<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header><div class="wr-logo"></div><a href="/">{{title}}</a></header>
    <div class="wr-body">{{{body}}}</div>
  </body>
</html>
