$c-background: hsl(0, 0, 100%)
$c-primary: hsl(200, 100%, 40%)
$c-accent: rgba(97,97,97,1)
$c-text: darken($c-primary, 10%)
$c-back: rgba(218, 0, 0, 1)
$c-whtext: rgba(255,255,255,1)
$c-button-blue: rgba(0,119,255,1)
$c-button-purple: rgba(192,0,255,1)
%wr-buttons-style
  color: $c-whtext
  display: inline-block
  padding: 1%
  font-size: 1.2em
  font-weight: bold
  letter-spacing: 2px
  margin: 0 1em
  cursor: pointer
  &:hover
    color: $c-whtext
    transition: all 250ms linear


body
  padding: 0
  margin: 0
  font: 14px Ubuntu, Helvetica, Arial, sans-serif
  color: $c-text

header
  background: $c-back
  color: $c-whtext
  display: flex
  align-items: center
  a
    color: white
    font-size: 2.5em

.wr-logo
  background: url('../images/logo_white.png') no-repeat
  width: 190px
  height: 100px
  background-size: cover
  background-position: -30px -20px

.wr-body
  text-align: center
  margin: 2em 0

.wr-actions
  margin-top: 2em

.wr-buttons
  @extend %wr-buttons-style
  &.create
    background: $c-button-blue
    &:hover
      background: lighten($c-button-blue, 20%)
  &.validate
    background: $c-button-purple
    &:hover
      background: lighten($c-button-purple, 20%)

a
  color: $c-primary
  text-decoration: none

a:hover
  color: lighten($c-primary, 10%)

.url-import
  width: 80%

button
  padding: .5em
  border: none
  background: $c-accent
  color: $c-background
  outline: none

button:hover
  background-color: lighten($c-primary, 10%)

iframe
  margin: 2em 0
  width: 100%
  height: 70vh

button.active
  background-color: lighten($c-accent, 15%)

.wr-description
  animation: appear .5s ease-in
  position: fixed
  height: auto
  background-color: $c-back
  color: $c-background
  padding: 2em 1em

@keyframes appear
  0%
    opacity: 0
  100%
    opacity: 1

.success-alert
  background-color: rgba(67, 172, 106, 0.3)
  border: 3px dashed rgba(67, 172, 106, 0.2)
  color: #232323
  animation: appear .5s ease-in
  padding: 1em 1em
  margin: 2em auto
  width: 90%
  font-size: 15px

.test-result-block
  background-color: rgba(230, 230, 230, 0.5)
  border: 3px dashed #74bfdd
  color: #232323
  animation: appear .5s ease-in
  padding: 1em 1em
  margin: 2em auto
  width: 90%
  font-size: 15px

.text-result-sub-block
  margin: 2em
  border: 2px dotted grey

.error-line
  margin: 7px 0
  color: black

.error-header
  font-weight: bold
  font-size: 16px
  padding-bottom: 2px
  border-bottom: 2px dashed #b01010
  display: inline-block

.forbidden-selectors
  font-weight: bold
  padding: 5px 0
  text-decoration: underline