<h2>TYPE IN YOUR URL</h2>
<form name="" action="/validate/validate-wrapper" method="POST">
    <input name="wrapperUrl" class="url-import" type="text" value="{{wrapperUrl}}">
    <button type="submit">Validate</button>

    <p class="messages">
        {{message}}
    </p>

    {{#if testResult}}
        <div>
            <h2>Test Results</h2>
            <hr/>

            <!-- PHANTOM TESTS -->
            <div class="test-result-block">
                <h3>Browser Tests</h3>

                {{#if testResult.PhantomTest.arkContainer.error}}
                    <div class="text-result-sub-block">
                        <h4>Arkadium Container Tag Error</h4>
                        <div class="error-header">{{testResult.PhantomTest.arkContainer.message}}</div>
                    </div>
                {{else}}
                    <div class="success-alert">Container width is valid</div>
                {{/if}}

                {{#if testResult.PhantomTest.errors.length}}
                    <div class="text-result-sub-block">
                        <h4>Errors Total: {{testResult.PhantomTest.errors.length}}</h4>
                        {{#each testResult.PhantomTest.errors}}
                            <div class="error-line">
                                <div class="error-header">Unable to load resource ({{status}}-{{statusText}}):</div>
                                <div class="error-body">{{url}}</div>
                            </div>
                        {{/each}}
                    </div>
                {{else}}
                    <div class="success-alert">There is no Browser Errors.</div>
                {{/if}}

                {{#if testResult.PhantomTest.errors.timeouts}}
                    <div class="text-result-sub-block">
                        <h4>PhantomJS Timeouts Total:{{testResult.PhantomTest.timeouts.length}}</h4>
                        {{#each testResult.PhantomTest.timeouts}}
                            <div>{{ this }}</div>
                        {{/each}}
                    </div>
                {{else}}
                    <div class="success-alert">There is no Browser Timeouts.</div>
                {{/if}}
            </div>
            <!-- PHANTOM TESTS -->

            <!-- HTML TESTS -->
            <div class="test-result-block">
                <h3>Html Content Tests</h3>
                {{#if testResult.HtmlTest.invalidBaseTag}}
                    <div class="text-result-sub-block">
                        <div>Base Tag is invalid</div>
                    </div>
                {{else}}
                    <div class="success-alert">Base Tag is Ok.</div>
                {{/if}}

                {{#if testResult.HtmlTest.forbiddenMetaTags}}
                    <div class="text-result-sub-block">
                        <h4>Forbidden Meta Tags</h4>
                        <div class="error-header">These tags are forbidden to use:</div>
                        {{#each testResult.HtmlTest.forbiddenMetaTags}}
                            <div class="error-line">
                                <div><strong>{{ this }}</strong></div>
                            </div>
                        {{/each}}
                    </div>
                {{else}}
                    <div class="success-alert">There is no forbidden Meta Tags.</div>
                {{/if}}

                {{#if testResult.HtmlTest.invalidResources}}
                    <div class="text-result-sub-block">
                        <h4>Invalid resources</h4>
                        {{#each testResult.HtmlTest.invalidResources}}
                            <div>{{ this }}</div>
                        {{/each}}
                    </div>
                {{else}}
                    <div class="success-alert">All Resource URLs are valid .</div>
                {{/if}}
            </div>
            <!-- HTML TESTS -->

            <!-- CSS TESTS -->
            <div class="test-result-block">
                <h3>CSS Assets Test</h3>
                {{#each testResult.CssTest}}

                    {{#if stylesheetWarnings.length}}
                        <div class="text-result-sub-block">
                            <div class="error-header">Forbidden usage of global selectors</div>
                            <div class="error-line">{{ file }}</div>
                            {{#each stylesheetWarnings}}
                                <div class="error-line">Forbidden selector(s):&nbsp;
                                    <span class="forbidden-selectors">{{ selectors }}</span>.&nbsp;
                                    Start on line: {{start.line}} column: {{start.column}}.&nbsp;
                                    End on line: {{end.line}} column: {{end.column}}.
                                </div>
                            {{/each}}
                        </div>
                    {{/if}}

                    {{#if parsingErrors.length}}
                        <div class="text-result-sub-block">
                            <div class="error-header">Errors in parsing CSS file</div>
                            <div class="error-line">{{ file }}</div>
                            {{#each parsingErrors}}
                                <div class="error-line">Reason: {{ reason }} on line:{{line}} column:{{column}}</div>
                            {{/each}}
                        </div>
                    {{/if}}
                {{else}}
                    <div class="success-alert">All CSS assets content is calid.</div>
                {{/each}}
            </div>
            <!-- CSS TESTS -->

        </div>
    {{/if}}

</form>